# keep cpp and h files except object ones
*.o
!*.cpp
!*.h

# static libraries
*.a

# logfiles
*.log

# binaries
snn_main
test
test_snn

# misc
*.txt
.vscode
obj
workspace.code-workspace

# Python ignores
venv
*-checkpoint*
